BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Always
SortIncludes: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -2
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpaceAfterTemplateKeyword: true
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
